:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
.card{
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 250px;
  box-shadow: 5px 5px 5px dimgrey;
  padding: 20px;
  text-align: center;
  display: inline-block;
}
.daniel{
  max-width: 60%;
  height: auto;
  border-radius: 10%;
  margin-bottom: 10px;
}
.list{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 10px;
  background-color: rgb(164, 164, 164);
  width: 100%;
  box-sizing: border-box;
}
.list>li{
  flex: 1;
  text-align: center;
  /* background-color: white; */

}
.list>li>a{
  color:rgb(26, 25, 21);
}
.student p{
  margin: 0;
}
.welcome{
  background-color: rgb(16, 154, 133);
  color: white;
}
.login{
  background-color: red;
  color: white;
}
.counter{
  text-align: center;
  padding: 10px;

}
.countDisplay{
  color:#08060d;
  font-size: 10em;
  margin-top: 1;
  margin-bottom: 100px;
}
button{
  margin-left: 5px;
  color: rgb(255, 255, 255);
  background-color: #23a7d3;
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  margin: 0px 5px;
  border:none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.color-input{
  border: none;
  padding: 0px;
}
.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 20px;
}
.color-display p{
  font-size: 2rem;
  text-align: center;
  color:black;

}
